.about-us {
  	width: 100%;
  	height: 3718px;
  	position: relative;
  	background-color: #fff;
  	text-align: center;
  	font-size: 14px;
  	color: #fff;
  	font-family: Inter;
}
.aboutpage {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1175.2px;
  	height: 3717.3px;
}
.main-content {
  	position: absolute;
  	top: 80.8px;
  	left: 0px;
  	width: 1175.2px;
  	height: 3233.9px;
}
.missionvision {
  	position: absolute;
  	top: 1210.1px;
  	left: 0px;
  	background-color: #f5f5f5;
  	width: 1175.2px;
  	height: 1087.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 100px 96px 0px;
  	box-sizing: border-box;
  	gap: 80px;
  	font-size: 32px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.container {
  	align-self: stretch;
  	height: 380px;
  	position: relative;
  	text-align: left;
  	color: #5e8c92;
}
.container2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #fff;
  	width: 459.6px;
  	height: 380px;
}
.container3 {
  	position: absolute;
  	top: 32px;
  	left: 32px;
  	border-radius: 24px;
  	background-color: rgba(94, 140, 146, 0.1);
  	width: 64px;
  	height: 64px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.text {
  	height: 48px;
  	width: 35.5px;
  	position: relative;
}
.m {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 48px;
}
.heading-3 {
  	position: absolute;
  	top: 120px;
  	left: 32px;
  	width: 395.6px;
  	height: 39.2px;
  	font-size: 28px;
  	color: #1a1a1a;
}
.our-mission {
  	position: absolute;
  	top: -0.2px;
  	left: 0px;
  	line-height: 39.2px;
  	font-weight: 600;
}
.paragraph {
  	position: absolute;
  	top: 175.2px;
  	left: 32px;
  	width: 395.6px;
  	height: 172.8px;
  	font-size: 18px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.to-partner-with {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 390px;
}
.container4 {
  	position: absolute;
  	top: 0px;
  	left: 523.6px;
  	border-radius: 16px;
  	background-color: #fff;
  	width: 459.6px;
  	height: 380px;
  	color: #e9c46a;
}
.container5 {
  	position: absolute;
  	top: 32px;
  	left: 32px;
  	border-radius: 24px;
  	background-color: rgba(233, 196, 106, 0.2);
  	width: 64px;
  	height: 64px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.text2 {
  	height: 48px;
  	width: 22.8px;
  	position: relative;
}
.paragraph2 {
  	position: absolute;
  	top: 175.2px;
  	left: 32px;
  	width: 395.6px;
  	height: 115.2px;
  	font-size: 18px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.to-lead-the {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 368px;
  	flex-shrink: 0;
}
.container6 {
  	align-self: stretch;
  	height: 116.8px;
  	position: relative;
}
.heading-2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 983.2px;
  	height: 43.2px;
}
.our-core-values {
  	position: absolute;
  	top: 0px;
  	left: 368.66px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph3 {
  	position: absolute;
  	top: 59.2px;
  	left: 191.6px;
  	width: 600px;
  	height: 57.6px;
  	font-size: 18px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.these-principles-guide {
  	position: absolute;
  	top: 0.2px;
  	left: 3.92px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 593px;
}
.container7 {
  	align-self: stretch;
  	height: 263px;
  	position: relative;
  	font-size: 20px;
}
.container8 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #fff;
  	width: 227.8px;
  	height: 263px;
}
.container-icon {
  	position: absolute;
  	top: 24px;
  	left: 85.9px;
  	border-radius: 16px;
  	width: 56px;
  	height: 56px;
}
.heading-4 {
  	position: absolute;
  	top: 96px;
  	left: 24px;
  	width: 179.8px;
  	height: 30px;
}
.excellence {
  	position: absolute;
  	top: -0.6px;
  	left: 41.61px;
  	line-height: 30px;
  	font-weight: 600;
}
.paragraph4 {
  	position: absolute;
  	top: 134px;
  	left: 24px;
  	width: 179.8px;
  	height: 105px;
  	font-size: 14px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.we-set-the {
  	position: absolute;
  	top: -0.4px;
  	left: 3.97px;
  	line-height: 21px;
  	display: inline-block;
  	width: 172px;
}
.container9 {
  	position: absolute;
  	top: 0px;
  	left: 251.8px;
  	border-radius: 24px;
  	background-color: #fff;
  	width: 227.8px;
  	height: 263px;
}
.collaboration {
  	position: absolute;
  	top: -0.6px;
  	left: 24.8px;
  	line-height: 30px;
  	font-weight: 600;
}
.we-believe-in {
  	position: absolute;
  	top: -0.4px;
  	left: 2.3px;
  	line-height: 21px;
  	display: inline-block;
  	width: 176px;
}
.container10 {
  	position: absolute;
  	top: 0px;
  	left: 503.6px;
  	border-radius: 24px;
  	background-color: #fff;
  	width: 227.8px;
  	height: 263px;
}
.innovation {
  	position: absolute;
  	top: -0.6px;
  	left: 35.09px;
  	line-height: 30px;
  	font-weight: 600;
}
.paragraph6 {
  	position: absolute;
  	top: 134px;
  	left: 24px;
  	width: 179.8px;
  	height: 84px;
  	font-size: 14px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.we-continuously-push {
  	position: absolute;
  	top: -0.4px;
  	left: 6.7px;
  	line-height: 21px;
  	display: inline-block;
  	width: 167px;
}
.container11 {
  	position: absolute;
  	top: 0px;
  	left: 755.4px;
  	border-radius: 24px;
  	background-color: #fff;
  	width: 227.8px;
  	height: 263px;
}
.integrity {
  	position: absolute;
  	top: -0.6px;
  	left: 46.02px;
  	line-height: 30px;
  	font-weight: 600;
}
.we-operate-with {
  	position: absolute;
  	top: -0.4px;
  	left: 0.01px;
  	line-height: 21px;
  	display: inline-block;
  	width: 180px;
}
.teamsection {
  	position: absolute;
  	top: 2297.9px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 539.2px;
  	color: #5e8c92;
}
.text3 {
  	position: absolute;
  	top: 96px;
  	left: 538.88px;
  	border-radius: 26843500px;
  	background-color: rgba(94, 140, 146, 0.1);
  	width: 97.4px;
  	height: 32.8px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	box-sizing: border-box;
}
.our-team {
  	position: relative;
  	line-height: 21px;
  	font-weight: 600;
  	flex-shrink: 0;
}
.heading-22 {
  	position: absolute;
  	top: 140px;
  	left: 139.6px;
  	width: 896px;
  	height: 43.2px;
  	font-size: 32px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.meet-the-experts {
  	position: absolute;
  	top: 0px;
  	left: 184.84px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph8 {
  	position: absolute;
  	top: 207.2px;
  	left: 139.6px;
  	width: 896px;
  	height: 144px;
  	font-size: 18px;
  	color: #4a4a4a;
}
.our-team-may {
  	position: absolute;
  	top: 0.2px;
  	left: 3.1px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 890px;
}
.button {
  	position: absolute;
  	top: 383.2px;
  	left: 527.04px;
  	border-radius: 16px;
  	background-color: #5e8c92;
  	width: 121.1px;
  	height: 56px;
  	font-size: 16px;
  	color: #fff;
}
.join-us {
  	position: absolute;
  	top: 16.17px;
  	left: 32px;
  	line-height: 22.86px;
  	font-weight: 600;
}
.ctasection {
  	position: absolute;
  	top: 2837.1px;
  	left: 0px;
  	background-color: #5e8c92;
  	width: 1175.2px;
  	height: 396.8px;
  	font-size: 18px;
}
.heading-23 {
  	position: absolute;
  	top: 80px;
  	left: 203.6px;
  	width: 768px;
  	height: 43.2px;
  	font-size: 32px;
  	font-family: MuseoModerno;
}
.ready-to-transform {
  	position: absolute;
  	top: 0px;
  	left: 111.45px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph9 {
  	position: absolute;
  	top: 155.2px;
  	left: 251.6px;
  	width: 672px;
  	height: 57.6px;
  	color: rgba(255, 255, 255, 0.9);
}
.get-started-with {
  	position: absolute;
  	top: 0.2px;
  	left: 26.88px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 619px;
}
.button2 {
  	position: absolute;
  	top: 260.8px;
  	left: 475.39px;
  	border-radius: 16px;
  	background-color: #fff;
  	width: 224.4px;
  	height: 56px;
  	color: #5e8c92;
}
.get-started-now {
  	position: absolute;
  	top: 15.75px;
  	left: 40px;
  	line-height: 25.71px;
  	font-weight: 600;
}
.abouthero {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, #5e8c92, #3c6a70);
  	width: 1175.2px;
  	height: 564.8px;
  	overflow: hidden;
}
.container12 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1175.2px;
  	height: 564.8px;
  	opacity: 0.1;
}
.container13 {
  	position: absolute;
  	top: 80px;
  	left: 80px;
  	filter: blur(128px);
  	border-radius: 26843500px;
  	background-color: #fff;
  	width: 384px;
  	height: 384px;
}
.container14 {
  	position: absolute;
  	top: 164.8px;
  	left: 775.2px;
  	filter: blur(128px);
  	border-radius: 26843500px;
  	background-color: #e9c46a;
  	width: 320px;
  	height: 320px;
}
.container15 {
  	position: absolute;
  	top: 140px;
  	left: 139.6px;
  	width: 896px;
  	height: 324.8px;
}
.text4 {
  	position: absolute;
  	top: -4px;
  	left: 399.45px;
  	border-radius: 26843500px;
  	background-color: rgba(255, 255, 255, 0.2);
  	width: 97.1px;
  	height: 32.8px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.heading-1 {
  	position: absolute;
  	top: 48px;
  	left: 0px;
  	width: 896px;
  	height: 115.2px;
  	flex-shrink: 0;
  	font-size: 48px;
  	font-family: MuseoModerno;
}
.building-the-future {
  	position: absolute;
  	top: -0.6px;
  	left: 80px;
  	line-height: 57.6px;
  	display: inline-block;
  	width: 736px;
}
.paragraph10 {
  	position: absolute;
  	top: 187.2px;
  	left: 148px;
  	width: 600px;
  	height: 64px;
  	flex-shrink: 0;
  	font-size: 20px;
  	color: rgba(255, 255, 255, 0.9);
}
.were-on-a {
  	position: absolute;
  	top: 0px;
  	left: 0.76px;
  	line-height: 32px;
  	display: inline-block;
  	width: 599px;
}
.paragraph11 {
  	position: absolute;
  	top: 267.2px;
  	left: 98px;
  	width: 700px;
  	height: 57.6px;
  	flex-shrink: 0;
  	font-size: 18px;
  	color: rgba(255, 255, 255, 0.9);
}
.specialising-in-agentforce {
  	position: absolute;
  	top: 0.2px;
  	left: 8.21px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 684px;
}
.aboutsection {
  	position: absolute;
  	top: 604.8px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 605.3px;
  	text-align: left;
  	font-size: 28.7px;
  	color: #080808;
  	font-family: MuseoModerno;
}
.paragraph12 {
  	position: absolute;
  	top: 87px;
  	left: 108px;
  	width: 129.5px;
  	height: 38.3px;
}
.about-us2 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 38.3px;
  	font-weight: 500;
  	background: linear-gradient(#1a1a1a, #1a1a1a), linear-gradient(180deg, #8bb8c1, #54838e 78.85%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.container16 {
  	position: absolute;
  	top: 145.3px;
  	left: 108px;
  	width: 959.2px;
  	height: 380px;
  	font-size: 48px;
  	font-family: Inter;
}
.container17 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 454.6px;
  	height: 380px;
}
.container18 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 319px;
  	height: 128px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.paragraph13 {
  	width: 319px;
  	height: 64px;
  	position: relative;
}
.solviant {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	letter-spacing: 1px;
  	line-height: 64px;
}
.paragraph15 {
  	position: absolute;
  	top: 77px;
  	left: 0px;
  	width: 439px;
  	height: 88px;
  	font-size: 32px;
  	color: #292929;
}
.empowering-success-through {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	letter-spacing: -1.44px;
  	line-height: 44px;
  	display: inline-block;
  	width: 422px;
  	flex-shrink: 0;
}
.container19 {
  	position: absolute;
  	top: 0px;
  	left: 504.6px;
  	width: 454.6px;
  	height: 380px;
  	font-size: 18px;
  	color: #696969;
}
.paragraph16 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 454.6px;
  	height: 196px;
}
.at-solviant-we {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 28px;
  	display: inline-block;
  	width: 440px;
}
.paragraph17 {
  	position: absolute;
  	top: 220px;
  	left: 0px;
  	width: 454.6px;
  	height: 84px;
}
.we-craft-tailored {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 28px;
  	display: inline-block;
  	width: 432px;
}
.container20 {
  	position: absolute;
  	top: 336px;
  	left: 0px;
  	border-radius: 100px;
  	background-color: #5f8e99;
  	width: 129px;
  	height: 44px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 10px 0px 0px 16px;
  	box-sizing: border-box;
  	font-size: 16.3px;
  	color: #fffefc;
  	font-family: MuseoModerno;
}
.paragraph18 {
  	width: 88.1px;
  	height: 23.2px;
  	position: relative;
}
.learn-more {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 23.22px;
  	flex-shrink: 0;
}
.footer {
  	position: absolute;
  	top: 3314.7px;
  	left: 0px;
  	background-color: #1a1a1a;
  	width: 1175.2px;
  	height: 402.6px;
  	text-align: left;
  	font-size: 18px;
  	font-family: MuseoModerno;
}
.container21 {
  	position: absolute;
  	top: 64px;
  	left: 96px;
  	width: 983.2px;
  	height: 204.8px;
}
.container22 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.image-solviant-icon {
  	width: 89px;
  	height: 32px;
  	position: relative;
  	object-fit: cover;
}
.paragraph19 {
  	width: 295.7px;
  	height: 76.8px;
  	position: relative;
}
.transforming-business-operatio {
  	position: absolute;
  	top: -0.8px;
  	left: 0px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 260px;
}
.container23 {
  	width: 295.7px;
  	height: 48px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
}
.link-icon {
  	height: 40px;
  	width: 40px;
  	border-radius: 16px;
}
.container24 {
  	position: absolute;
  	top: 0px;
  	left: 343.73px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.heading-45 {
  	align-self: stretch;
  	height: 27px;
  	position: relative;
}
.quick-links {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
}
.container25 {
  	align-self: stretch;
  	height: 96px;
  	position: relative;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.home {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
}
.link2 {
  	position: absolute;
  	top: 0px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link3 {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.link4 {
  	position: absolute;
  	top: 36px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link5 {
  	position: absolute;
  	top: 72px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.container26 {
  	position: absolute;
  	top: 0px;
  	left: 687.46px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container27 {
  	align-self: stretch;
  	height: 64px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link6 {
  	width: 295.7px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.icon {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.text5 {
  	height: 24px;
  	width: 190.8px;
  	position: relative;
}
.link7 {
  	width: 295.7px;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.text6 {
  	height: 24px;
  	width: 145.9px;
  	position: relative;
}
.container28 {
  	position: absolute;
  	top: 332.8px;
  	left: 0px;
  	border-top: 0.8px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 69.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24.8px 96px 0px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.5);
  	font-family: Inter;
}
.container29 {
  	align-self: stretch;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.paragraph20 {
  	height: 21px;
  	width: 239.4px;
  	position: relative;
}
.solviant-all-rights {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 21px;
}
.container30 {
  	height: 21px;
  	width: 227.5px;
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
}
.link8 {
  	height: 21px;
  	width: 91.8px;
  	position: relative;
}
.link9 {
  	height: 21px;
  	width: 111.6px;
  	position: relative;
}
.navbar {
  	position: absolute;
  	top: 64px;
  	left: 0px;
  	background-color: #fff;
  	border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 80.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 96px 0.8px;
  	text-align: left;
  	font-size: 16px;
  	color: #4a4a4a;
}
.container31 {
  	align-self: stretch;
  	height: 80px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.link-icon5 {
  	height: 40px;
  	width: 111px;
  	position: relative;
  	object-fit: cover;
}
.container32 {
  	height: 24px;
  	width: 393.5px;
  	position: relative;
}
.link10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 45px;
  	height: 24px;
}
.home2 {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
  	font-weight: 500;
}
.link11 {
  	position: absolute;
  	top: 0px;
  	left: 77.05px;
  	width: 46.3px;
  	height: 24px;
}
.link12 {
  	position: absolute;
  	top: 0px;
  	left: 155.36px;
  	width: 66.2px;
  	height: 24px;
}
.link13 {
  	position: absolute;
  	top: 0px;
  	left: 253.59px;
  	width: 34px;
  	height: 24px;
}
.link14 {
  	position: absolute;
  	top: 0px;
  	left: 319.55px;
  	width: 74px;
  	height: 24px;
}
.link15 {
  	height: 19.2px;
  	width: 160px;
  	position: relative;
  	text-align: center;
  	color: #fff;
}
.button3 {
  	position: absolute;
  	top: -14.18px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #5e8c92;
  	width: 160px;
  	height: 48px;
  	flex-shrink: 0;
}
.contact-us {
  	position: absolute;
  	top: 12.18px;
  	left: 36.76px;
  	line-height: 22.86px;
  	font-weight: 600;
}


