.contact-us-page {
  	width: 100%;
  	height: 1468px;
  	position: relative;
  	background-color: #fff;
  	text-align: center;
  	font-size: 48px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.contactpage {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 1468px;
}
.section {
  	position: absolute;
  	top: 80.8px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 984.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 100px 203.6px 0px;
  	box-sizing: border-box;
  	gap: 48px;
}
.container {
  	align-self: stretch;
  	height: 131.2px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
}
.heading-1 {
  	align-self: stretch;
  	height: 57.6px;
  	position: relative;
}
.contact-us {
  	position: absolute;
  	top: -0.6px;
  	left: 260.3px;
  	line-height: 57.6px;
  	font-weight: 600;
}
.paragraph {
  	align-self: stretch;
  	height: 57.6px;
  	position: relative;
  	font-size: 18px;
  	color: #6b6b6b;
  	font-family: Inter;
}
.have-questions-wed {
  	position: absolute;
  	top: 0.2px;
  	left: 20.68px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 727px;
}
.container2 {
  	align-self: stretch;
  	height: 605.4px;
  	border-radius: 24px;
  	background-color: #fff;
  	border: 1.6px solid #e5e5e5;
  	box-sizing: border-box;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 49.6px 49.6px 1.6px;
  	text-align: left;
  	font-size: 14px;
  	font-family: Inter;
}
.form {
  	align-self: stretch;
  	height: 506.2px;
  	position: relative;
}
.container3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 668.8px;
  	height: 78.6px;
}
.container4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 322.4px;
  	height: 78.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.label {
  	align-self: stretch;
  	height: 21px;
  	position: relative;
}
.first-name {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 21px;
  	font-weight: 500;
}
.text-input {
  	align-self: stretch;
  	height: 49.6px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid #e5e5e5;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 12px 16px;
  	font-size: 16px;
  	color: rgba(26, 26, 26, 0.5);
}
.john {
  	position: relative;
}
.container5 {
  	position: absolute;
  	top: 0px;
  	left: 346.4px;
  	width: 322.4px;
  	height: 78.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.container6 {
  	position: absolute;
  	top: 102.6px;
  	left: 0px;
  	width: 668.8px;
  	height: 78.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.container7 {
  	position: absolute;
  	top: 205.2px;
  	left: 0px;
  	width: 668.8px;
  	height: 205px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.text-area {
  	align-self: stretch;
  	height: 169.6px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid #e5e5e5;
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: flex-start;
  	padding: 12px 16px;
  	font-size: 16px;
  	color: rgba(26, 26, 26, 0.5);
}
.tell-us-about {
  	position: relative;
  	line-height: 24px;
}
.button {
  	position: absolute;
  	top: 450.2px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #5e8c92;
  	width: 668.8px;
  	height: 56px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 14px 24px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 16px;
  	color: #fff;
}
.send-message {
  	position: relative;
  	line-height: 22.86px;
  	font-weight: 600;
}
.footer {
  	position: absolute;
  	top: 1065.4px;
  	left: 0px;
  	background-color: #1a1a1a;
  	width: 1175.2px;
  	height: 402.6px;
  	text-align: left;
  	font-size: 18px;
  	color: #fff;
}
.container8 {
  	position: absolute;
  	top: 64px;
  	left: 96px;
  	width: 983.2px;
  	height: 204.8px;
}
.container9 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.image-solviant-icon {
  	width: 89px;
  	height: 32px;
  	position: relative;
  	object-fit: cover;
}
.paragraph2 {
  	width: 295.7px;
  	height: 76.8px;
  	position: relative;
}
.transforming-business-operatio {
  	position: absolute;
  	top: -0.8px;
  	left: 0px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 260px;
}
.container10 {
  	width: 295.7px;
  	height: 48px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
}
.link-icon {
  	height: 40px;
  	width: 40px;
  	border-radius: 16px;
}
.container11 {
  	position: absolute;
  	top: 0px;
  	left: 343.73px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.heading-4 {
  	align-self: stretch;
  	height: 27px;
  	position: relative;
}
.quick-links {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
}
.container12 {
  	align-self: stretch;
  	height: 96px;
  	position: relative;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.home {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
}
.link2 {
  	position: absolute;
  	top: 0px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link3 {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.link4 {
  	position: absolute;
  	top: 36px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link5 {
  	position: absolute;
  	top: 72px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.container13 {
  	position: absolute;
  	top: 0px;
  	left: 687.46px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container14 {
  	align-self: stretch;
  	height: 64px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link6 {
  	width: 295.7px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.icon {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.text {
  	height: 24px;
  	width: 190.8px;
  	position: relative;
}
.link7 {
  	width: 295.7px;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.text2 {
  	height: 24px;
  	width: 145.9px;
  	position: relative;
}
.container15 {
  	position: absolute;
  	top: 332.8px;
  	left: 0px;
  	border-top: 0.8px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 69.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24.8px 96px 0px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.5);
  	font-family: Inter;
}
.container16 {
  	align-self: stretch;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.paragraph3 {
  	height: 21px;
  	width: 239.4px;
  	position: relative;
}
.solviant-all-rights {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 21px;
}
.container17 {
  	height: 21px;
  	width: 227.5px;
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
}
.link8 {
  	height: 21px;
  	width: 91.8px;
  	position: relative;
}
.link9 {
  	height: 21px;
  	width: 111.6px;
  	position: relative;
}
.navbar {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 80.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 96px 0.8px;
  	text-align: left;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.container18 {
  	align-self: stretch;
  	height: 80px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.link-icon5 {
  	height: 40px;
  	width: 111px;
  	position: relative;
  	object-fit: cover;
}
.container19 {
  	height: 24px;
  	width: 393.5px;
  	position: relative;
}
.link10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 45px;
  	height: 24px;
}
.home2 {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
  	font-weight: 500;
}
.link11 {
  	position: absolute;
  	top: 0px;
  	left: 77.05px;
  	width: 46.3px;
  	height: 24px;
}
.link12 {
  	position: absolute;
  	top: 0px;
  	left: 155.36px;
  	width: 66.2px;
  	height: 24px;
}
.link13 {
  	position: absolute;
  	top: 0px;
  	left: 253.59px;
  	width: 34px;
  	height: 24px;
}
.link14 {
  	position: absolute;
  	top: 0px;
  	left: 319.55px;
  	width: 74px;
  	height: 24px;
}
.link15 {
  	height: 19.2px;
  	width: 160px;
  	position: relative;
  	text-align: center;
  	color: #fff;
}
.button2 {
  	position: absolute;
  	top: -14.18px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #5e8c92;
  	width: 160px;
  	height: 48px;
  	flex-shrink: 0;
}
.contact-us2 {
  	position: absolute;
  	top: 12.18px;
  	left: 36.76px;
  	line-height: 22.86px;
  	font-weight: 600;
}


