.home {
  	width: 100%;
  	height: 4356px;
  	position: relative;
  	background-color: #fff;
  	text-align: center;
  	font-size: 32px;
  	color: #5e8c92;
  	font-family: MuseoModerno;
}
.homepage {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1175.2px;
  	height: 4356.3px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 80.8px 0px 0px;
  	box-sizing: border-box;
}
.main-content {
  	align-self: stretch;
  	height: 3872.9px;
  	position: relative;
}
.serviceoverview {
  	position: absolute;
  	top: 1224.86px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #fff;
  	border: 1.6px solid #5e8c92;
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 769.6px;
  	font-size: 14px;
  	font-family: Inter;
}
.text {
  	position: absolute;
  	top: 165.6px;
  	left: 529.98px;
  	border-radius: 26843500px;
  	background-color: #ecf3f4;
  	width: 115.3px;
  	height: 32.8px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	box-sizing: border-box;
}
.what-we-do {
  	position: relative;
  	line-height: 21px;
  	font-weight: 600;
  	flex-shrink: 0;
}
.heading-2 {
  	position: absolute;
  	top: 217.6px;
  	left: 189.2px;
  	width: 796.8px;
  	height: 93.6px;
  	font-size: 36px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.transforming-business-with {
  	position: absolute;
  	top: -0.6px;
  	left: 58.74px;
  	line-height: 46.8px;
  	font-weight: 600;
  	display: inline-block;
  	width: 680px;
}
.paragraph {
  	position: absolute;
  	top: 335.2px;
  	left: 189.2px;
  	width: 796.8px;
  	height: 86.4px;
  	font-size: 18px;
  	color: #4a4a4a;
}
.we-help-businesses {
  	position: absolute;
  	top: 0.2px;
  	left: 21.01px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 755px;
}
.container {
  	position: absolute;
  	top: 453.6px;
  	left: 203.6px;
  	width: 768px;
  	height: 186.4px;
  	display: grid;
  	grid-template-rows: ;
  	grid-template-columns: ;
  	justify-content: start;
  	align-content: start;
  	gap: 0px;
  	font-size: 20px;
  	font-family: MuseoModerno;
}
.link {
  	width: 100%;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1.6px solid #5e8c92;
  	box-sizing: border-box;
  	height: 186.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 33.6px 33.6px 1.6px;
  	gap: 12px;
}
.serviceoverview2 {
  	align-self: stretch;
  	height: 56px;
  	position: relative;
}
.agentforce-revenue-management {
  	position: absolute;
  	top: -0.4px;
  	left: 55.34px;
  	line-height: 28px;
  	font-weight: 600;
  	display: inline-block;
  	width: 195px;
}
.serviceoverview3 {
  	align-self: stretch;
  	height: 51.2px;
  	position: relative;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.revenue-cloud-solutions {
  	position: absolute;
  	top: -0.8px;
  	left: 15.03px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 275px;
}
.link2 {
  	width: 100%;
  	position: absolute;
  	top: 0px;
  	left: 396px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1.6px solid #5e8c92;
  	box-sizing: border-box;
  	height: 186.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 33.6px 33.6px 1.6px;
  	gap: 12px;
}
.serviceoverview4 {
  	align-self: stretch;
  	height: 28px;
  	position: relative;
}
.agentforce-ai-services {
  	position: absolute;
  	top: -0.4px;
  	left: 43.34px;
  	line-height: 28px;
  	font-weight: 600;
}
.intelligent-ai-driven-capabili {
  	position: absolute;
  	top: -0.8px;
  	left: 17px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 271px;
}
.processsection {
  	position: absolute;
  	top: 1994.46px;
  	left: 0px;
  	background-color: #ecf3f4;
  	width: 1175.2px;
  	height: 536.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 100px 96px 0px;
  	box-sizing: border-box;
  	gap: 64px;
  	color: #1a1a1a;
}
.container2 {
  	align-self: stretch;
  	height: 88px;
  	position: relative;
}
.heading-22 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 983.2px;
  	height: 43.2px;
}
.our-process {
  	position: absolute;
  	top: 0px;
  	left: 400.52px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph2 {
  	position: absolute;
  	top: 59.2px;
  	left: 155.6px;
  	width: 672px;
  	height: 28.8px;
  	font-size: 18px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.a-proven-methodology {
  	position: absolute;
  	top: 0.2px;
  	left: 153.3px;
  	line-height: 28.8px;
}
.container3 {
  	align-self: stretch;
  	height: 184.8px;
  	position: relative;
  	font-size: 48px;
  	color: #5e8c92;
}
.container4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 221.8px;
  	height: 184.8px;
}
.container5 {
  	position: absolute;
  	top: 32px;
  	left: 221.8px;
  	background-color: rgba(94, 140, 146, 0.3);
  	width: 32px;
  	height: 2px;
  	flex-shrink: 0;
}
.container6 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 221.8px;
  	height: 184.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 16px;
  	flex-shrink: 0;
}
.container7 {
  	width: 53.7px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.b {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 48px;
}
.heading-3 {
  	width: 92.2px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.discovery {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 28px;
  	font-weight: 600;
}
.paragraph3 {
  	width: 221.8px;
  	flex: 1;
  	position: relative;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.we-analyze-your {
  	position: absolute;
  	top: -0.8px;
  	left: 11.9px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 198px;
}
.container8 {
  	position: absolute;
  	top: 0px;
  	left: 253.8px;
  	width: 221.8px;
  	height: 184.8px;
}
.container11 {
  	width: 58.6px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.heading-32 {
  	width: 85.2px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.develop-a-customized {
  	position: absolute;
  	top: -0.8px;
  	left: 3.71px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 215px;
}
.container12 {
  	position: absolute;
  	top: 0px;
  	left: 507.6px;
  	width: 221.8px;
  	height: 184.8px;
}
.container15 {
  	width: 58.8px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.heading-33 {
  	width: 161.1px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.deploy-the-solution {
  	position: absolute;
  	top: -0.8px;
  	left: 13.21px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 196px;
}
.container16 {
  	position: absolute;
  	top: 0px;
  	left: 761.4px;
  	width: 221.8px;
  	height: 184.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 16px;
}
.container17 {
  	width: 62.7px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.heading-34 {
  	width: 128.1px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.continuously-monitor-and {
  	position: absolute;
  	top: -0.8px;
  	left: 13.95px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 194px;
}
.contactsection {
  	position: absolute;
  	top: 2531.26px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 944.8px;
  	color: #1a1a1a;
}
.container18 {
  	position: absolute;
  	top: 100px;
  	left: 96px;
  	width: 983.2px;
  	height: 116.8px;
}
.contact-us {
  	position: absolute;
  	top: 0px;
  	left: 409.13px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph7 {
  	position: absolute;
  	top: 59.2px;
  	left: 155.6px;
  	width: 672px;
  	height: 57.6px;
  	font-size: 18px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.have-questions-wed {
  	position: absolute;
  	top: 0.2px;
  	left: 22.36px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 628px;
}
.container19 {
  	position: absolute;
  	top: 280.8px;
  	left: 251.6px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 672px;
  	height: 564px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 48px 48px 0px;
  	box-sizing: border-box;
  	text-align: left;
  	font-size: 16px;
  	font-family: Inter;
}
.form {
  	align-self: stretch;
  	height: 468px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container20 {
  	width: 576px;
  	height: 80px;
  	display: grid;
  	grid-template-rows: ;
  	grid-template-columns: ;
  	justify-content: start;
  	align-content: start;
  	gap: 0px;
}
.container21 {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.label {
  	align-self: stretch;
  	height: 24px;
  	position: relative;
}
.first-name {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
  	font-weight: 600;
}
.input {
  	align-self: stretch;
  	height: 48px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 4px 12px;
  	font-size: 14px;
  	color: #9b9b9b;
}
.john {
  	position: relative;
}
.container22 {
  	width: 100%;
  	height: 100%;
  	position: absolute;
  	top: 0px;
  	left: 300px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.container23 {
  	width: 576px;
  	height: 80px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.container24 {
  	width: 576px;
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.textarea {
  	align-self: stretch;
  	height: 140px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 12px;
  	font-size: 14px;
  	color: #9b9b9b;
}
.tell-us-about {
  	position: relative;
  	line-height: 20px;
}
.button {
  	width: 576px;
  	height: 56px;
  	border-radius: 16px;
  	background-color: #5e8c92;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	text-align: center;
  	color: #fff;
}
.send-message {
  	position: relative;
  	line-height: 22.86px;
  	font-weight: 600;
}
.ctasection {
  	position: absolute;
  	top: 3476.06px;
  	left: 0px;
  	background-color: #5e8c92;
  	width: 1175.2px;
  	height: 396.8px;
  	font-size: 18px;
  	color: #fff;
  	font-family: Inter;
}
.heading-24 {
  	position: absolute;
  	top: 80px;
  	left: 203.6px;
  	width: 768px;
  	height: 43.2px;
  	font-size: 32px;
  	font-family: MuseoModerno;
}
.ready-to-transform {
  	position: absolute;
  	top: 0px;
  	left: 111.45px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph8 {
  	position: absolute;
  	top: 155.2px;
  	left: 251.6px;
  	width: 672px;
  	height: 57.6px;
  	color: rgba(255, 255, 255, 0.9);
}
.get-started-with {
  	position: absolute;
  	top: 0.2px;
  	left: 26.88px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 619px;
}
.button2 {
  	position: absolute;
  	top: 260.8px;
  	left: 475.39px;
  	border-radius: 16px;
  	background-color: #fff;
  	width: 224.4px;
  	height: 56px;
  	color: #5e8c92;
}
.get-started-now {
  	position: absolute;
  	top: 15.75px;
  	left: 40px;
  	line-height: 25.71px;
  	font-weight: 600;
}
.herosection {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 579.6px;
  	overflow: hidden;
  	text-align: left;
  	font-size: 64px;
}
.component2-icon {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1175.2px;
  	height: 579.6px;
  	object-fit: cover;
}
.container25 {
  	position: absolute;
  	top: 80px;
  	left: 96px;
  	width: 983.2px;
  	height: 419.6px;
}
.container26 {
  	position: absolute;
  	top: 71.98px;
  	left: 0px;
  	width: 459.6px;
  	height: 275.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
}
.heading-1 {
  	width: 459.6px;
  	height: 70.4px;
  	position: relative;
}
.solviant {
  	position: absolute;
  	top: -1px;
  	left: 0px;
  	letter-spacing: -0.64px;
  	line-height: 70.4px;
}
.heading-25 {
  	width: 459.6px;
  	flex: 1;
  	position: relative;
  	font-size: 32px;
  	color: #1a1a1a;
}
.solving-salesforce-the {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 41.6px;
  	display: inline-block;
  	width: 402px;
  	flex-shrink: 0;
}
.container27 {
  	width: 448px;
  	height: 58px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 4px;
  	font-size: 18px;
  	color: #6b6b6b;
  	font-family: Inter;
}
.paragraph9 {
  	width: 448px;
  	height: 27px;
  	position: relative;
}
.precision-persistence-and {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 27px;
}
.paragraph10 {
  	width: 448px;
  	flex: 1;
  	position: relative;
}
.image-solviant-robot-mascot {
  	position: absolute;
  	top: 0px;
  	left: 528.4px;
  	width: 450px;
  	height: 419.6px;
  	object-fit: cover;
}
.aboutsection {
  	position: absolute;
  	top: 619.56px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 605.3px;
  	text-align: left;
  	font-size: 28.7px;
  	color: #080808;
}
.paragraph11 {
  	position: absolute;
  	top: 87px;
  	left: 108px;
  	width: 129.5px;
  	height: 38.3px;
}
.about-us {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	line-height: 38.3px;
  	font-weight: 500;
  	background: linear-gradient(#1a1a1a, #1a1a1a), linear-gradient(180deg, #8bb8c1, #54838e 78.85%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.container28 {
  	position: absolute;
  	top: 145.3px;
  	left: 108px;
  	width: 959.2px;
  	height: 380px;
  	font-size: 48px;
  	font-family: Inter;
}
.container29 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 454.6px;
  	height: 380px;
}
.container30 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 319px;
  	height: 128px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.paragraph12 {
  	width: 319px;
  	height: 64px;
  	position: relative;
}
.solviant2 {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	letter-spacing: 1px;
  	line-height: 64px;
}
.paragraph14 {
  	position: absolute;
  	top: 77px;
  	left: 0px;
  	width: 439px;
  	height: 88px;
  	font-size: 32px;
  	color: #292929;
}
.empowering-success-through {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	letter-spacing: -1.44px;
  	line-height: 44px;
  	display: inline-block;
  	width: 422px;
  	flex-shrink: 0;
}
.container31 {
  	position: absolute;
  	top: 0px;
  	left: 504.6px;
  	width: 454.6px;
  	height: 380px;
  	font-size: 18px;
  	color: #696969;
}
.paragraph15 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 454.6px;
  	height: 196px;
}
.at-solviant-we {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 28px;
  	display: inline-block;
  	width: 440px;
}
.paragraph16 {
  	position: absolute;
  	top: 220px;
  	left: 0px;
  	width: 454.6px;
  	height: 84px;
}
.we-craft-tailored {
  	position: absolute;
  	top: 0.2px;
  	left: 0px;
  	line-height: 28px;
  	display: inline-block;
  	width: 432px;
}
.container32 {
  	position: absolute;
  	top: 336px;
  	left: 0px;
  	border-radius: 100px;
  	background-color: #5f8e99;
  	width: 129px;
  	height: 44px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 10px 0px 0px 16px;
  	box-sizing: border-box;
  	font-size: 16.3px;
  	color: #fffefc;
  	font-family: MuseoModerno;
}
.paragraph17 {
  	width: 88.1px;
  	height: 23.2px;
  	position: relative;
}
.learn-more {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 23.22px;
  	flex-shrink: 0;
}
.footer {
  	align-self: stretch;
  	height: 402.6px;
  	position: relative;
  	background-color: #1a1a1a;
  	text-align: left;
  	font-size: 18px;
  	color: #fff;
}
.container33 {
  	position: absolute;
  	top: 64px;
  	left: 96px;
  	width: 983.2px;
  	height: 204.8px;
}
.container34 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.image-solviant-icon {
  	width: 89px;
  	height: 32px;
  	position: relative;
  	object-fit: cover;
}
.paragraph18 {
  	width: 295.7px;
  	height: 76.8px;
  	position: relative;
}
.transforming-business-operatio {
  	position: absolute;
  	top: -0.8px;
  	left: 0px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 260px;
}
.container35 {
  	width: 295.7px;
  	height: 48px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
}
.link-icon {
  	height: 40px;
  	width: 40px;
  	border-radius: 16px;
}
.container36 {
  	position: absolute;
  	top: 0px;
  	left: 343.73px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.heading-4 {
  	align-self: stretch;
  	height: 27px;
  	position: relative;
}
.quick-links {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
}
.container37 {
  	align-self: stretch;
  	height: 96px;
  	position: relative;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.link4 {
  	position: absolute;
  	top: 0px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.about {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
}
.link5 {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.link6 {
  	position: absolute;
  	top: 36px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link7 {
  	position: absolute;
  	top: 72px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.container38 {
  	position: absolute;
  	top: 0px;
  	left: 687.46px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container39 {
  	align-self: stretch;
  	height: 64px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link8 {
  	width: 295.7px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.icon {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.text2 {
  	height: 24px;
  	width: 190.8px;
  	position: relative;
}
.text3 {
  	height: 24px;
  	width: 145.9px;
  	position: relative;
}
.container40 {
  	position: absolute;
  	top: 332.8px;
  	left: 0px;
  	border-top: 0.8px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 69.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24.8px 96px 0px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.5);
  	font-family: Inter;
}
.container41 {
  	align-self: stretch;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.paragraph19 {
  	height: 21px;
  	width: 239.4px;
  	position: relative;
}
.solviant-all-rights {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 21px;
}
.container42 {
  	height: 21px;
  	width: 227.5px;
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
}
.link10 {
  	height: 21px;
  	width: 91.8px;
  	position: relative;
}
.link11 {
  	height: 21px;
  	width: 111.6px;
  	position: relative;
}
.navbar {
  	position: absolute;
  	top: 0.8px;
  	left: 0px;
  	background-color: #fff;
  	border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 80.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 96px 0.8px;
  	text-align: left;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.container43 {
  	align-self: stretch;
  	height: 80px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.link-icon5 {
  	height: 40px;
  	width: 111px;
  	position: relative;
  	object-fit: cover;
}
.container44 {
  	height: 24px;
  	width: 393.5px;
  	position: relative;
}
.link12 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 45px;
  	height: 24px;
}
.home3 {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
  	font-weight: 500;
}
.link13 {
  	position: absolute;
  	top: 0px;
  	left: 77.05px;
  	width: 46.3px;
  	height: 24px;
}
.link14 {
  	position: absolute;
  	top: 0px;
  	left: 155.36px;
  	width: 66.2px;
  	height: 24px;
}
.link15 {
  	position: absolute;
  	top: 0px;
  	left: 253.59px;
  	width: 34px;
  	height: 24px;
}
.link16 {
  	position: absolute;
  	top: 0px;
  	left: 319.55px;
  	width: 74px;
  	height: 24px;
}
.link17 {
  	height: 19.2px;
  	width: 160px;
  	position: relative;
  	text-align: center;
  	color: #fff;
}
.button3 {
  	position: absolute;
  	top: -14.18px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #5e8c92;
  	width: 160px;
  	height: 48px;
  	flex-shrink: 0;
}
.contact-us2 {
  	position: absolute;
  	top: 12.18px;
  	left: 36.76px;
  	line-height: 22.86px;
  	font-weight: 600;
}