.our-team {
  	width: 100%;
  	height: 1255px;
  	position: relative;
  	background-color: #fff;
  	text-align: left;
  	font-size: 48px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.teampage {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 1255px;
}
.section {
  	position: absolute;
  	top: 80.8px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #fff;
  	border: 1.6px solid #e5e5e5;
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 771.6px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 165.6px 161.6px 1.6px;
}
.container {
  	align-self: stretch;
  	height: 440.4px;
  	display: grid;
  	grid-template-rows: ;
  	grid-template-columns: ;
  	justify-content: start;
  	align-content: start;
  	gap: 0px;
}
.container2 {
  	width: 100%;
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	height: 320px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 32px;
}
.heading-1 {
  	align-self: stretch;
  	height: 57.6px;
  	position: relative;
}
.our-team2 {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 57.6px;
  	font-weight: 600;
}
.paragraph {
  	align-self: stretch;
  	height: 230.4px;
  	position: relative;
  	font-size: 16px;
  	color: #6b6b6b;
  	font-family: Inter;
}
.our-team-may {
  	position: absolute;
  	top: -0.8px;
  	left: 0px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 390px;
}
.container3 {
  	width: 100%;
  	position: absolute;
  	top: 0px;
  	left: 458px;
  	border-radius: 16px;
  	background-color: #f8f8f8;
  	border: 0.8px solid #e5e5e5;
  	box-sizing: border-box;
  	height: 440.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 32.8px 32.8px 0.8px;
  	gap: 24px;
  	text-align: center;
  	font-size: 24px;
}
.heading-3 {
  	align-self: stretch;
  	height: 36px;
  	position: relative;
}
.get-in-touch {
  	position: absolute;
  	top: 0.2px;
  	left: 93.7px;
  	line-height: 36px;
  	font-weight: 600;
}
.form {
  	align-self: stretch;
  	height: 314.8px;
  	position: relative;
  	text-align: left;
  	font-size: 14px;
  	color: rgba(107, 107, 107, 0.5);
  	font-family: Inter;
}
.text-input {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid #e5e5e5;
  	box-sizing: border-box;
  	width: 328.4px;
  	height: 46.6px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 12px 16px;
}
.your-full-name {
  	position: relative;
}
.email-input {
  	position: absolute;
  	top: 62.6px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid #e5e5e5;
  	box-sizing: border-box;
  	width: 328.4px;
  	height: 46.6px;
  	overflow: hidden;
  	display: flex;
  	align-items: center;
  	padding: 12px 16px;
}
.text-area {
  	position: absolute;
  	top: 125.2px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #fff;
  	border: 0.8px solid #e5e5e5;
  	box-sizing: border-box;
  	width: 328.4px;
  	height: 109.6px;
  	overflow: hidden;
  	display: flex;
  	align-items: flex-start;
  	padding: 12px 16px;
}
.let-us-know {
  	position: relative;
  	line-height: 21px;
}
.button {
  	position: absolute;
  	top: 266.8px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #1a1a1a;
  	width: 328.4px;
  	height: 48px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 14px 24px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 16px;
  	color: #fff;
}
.join-us {
  	position: relative;
  	line-height: 22.86px;
  	font-weight: 600;
  	flex-shrink: 0;
}
.footer {
  	position: absolute;
  	top: 852.4px;
  	left: 0px;
  	background-color: #1a1a1a;
  	width: 1175.2px;
  	height: 402.6px;
  	font-size: 18px;
  	color: #fff;
}
.container4 {
  	position: absolute;
  	top: 64px;
  	left: 96px;
  	width: 983.2px;
  	height: 204.8px;
}
.container5 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.image-solviant-icon {
  	width: 89px;
  	height: 32px;
  	position: relative;
  	object-fit: cover;
}
.paragraph2 {
  	width: 295.7px;
  	height: 76.8px;
  	position: relative;
}
.transforming-business-operatio {
  	position: absolute;
  	top: -0.8px;
  	left: 0px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 260px;
}
.container6 {
  	width: 295.7px;
  	height: 48px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
}
.link-icon {
  	height: 40px;
  	width: 40px;
  	border-radius: 16px;
}
.container7 {
  	position: absolute;
  	top: 0px;
  	left: 343.73px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.heading-4 {
  	align-self: stretch;
  	height: 27px;
  	position: relative;
}
.quick-links {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
}
.container8 {
  	align-self: stretch;
  	height: 96px;
  	position: relative;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.home {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
}
.link2 {
  	position: absolute;
  	top: 0px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link3 {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.link4 {
  	position: absolute;
  	top: 36px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link5 {
  	position: absolute;
  	top: 72px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.container9 {
  	position: absolute;
  	top: 0px;
  	left: 687.46px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container10 {
  	align-self: stretch;
  	height: 64px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link6 {
  	width: 295.7px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.icon {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.text {
  	height: 24px;
  	width: 190.8px;
  	position: relative;
}
.link7 {
  	width: 295.7px;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.text2 {
  	height: 24px;
  	width: 145.9px;
  	position: relative;
}
.container11 {
  	position: absolute;
  	top: 332.8px;
  	left: 0px;
  	border-top: 0.8px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 69.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24.8px 96px 0px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.5);
  	font-family: Inter;
}
.container12 {
  	align-self: stretch;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.paragraph3 {
  	height: 21px;
  	width: 239.4px;
  	position: relative;
}
.solviant-all-rights {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 21px;
}
.container13 {
  	height: 21px;
  	width: 227.5px;
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
}
.link8 {
  	height: 21px;
  	width: 91.8px;
  	position: relative;
}
.link9 {
  	height: 21px;
  	width: 111.6px;
  	position: relative;
}
.navbar {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background-color: #fff;
  	border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 80.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 96px 0.8px;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.container14 {
  	align-self: stretch;
  	height: 80px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.link-icon5 {
  	height: 40px;
  	width: 111px;
  	position: relative;
  	object-fit: cover;
}
.container15 {
  	height: 24px;
  	width: 393.5px;
  	position: relative;
}
.link10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 45px;
  	height: 24px;
}
.home2 {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
  	font-weight: 500;
}
.link11 {
  	position: absolute;
  	top: 0px;
  	left: 77.05px;
  	width: 46.3px;
  	height: 24px;
}
.link12 {
  	position: absolute;
  	top: 0px;
  	left: 155.36px;
  	width: 66.2px;
  	height: 24px;
}
.link13 {
  	position: absolute;
  	top: 0px;
  	left: 253.59px;
  	width: 34px;
  	height: 24px;
}
.link14 {
  	position: absolute;
  	top: 0px;
  	left: 319.55px;
  	width: 74px;
  	height: 24px;
}
.link15 {
  	height: 19.2px;
  	width: 160px;
  	position: relative;
  	text-align: center;
  	color: #fff;
}
.button2 {
  	position: absolute;
  	top: -14.18px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #5e8c92;
  	width: 160px;
  	height: 48px;
  	flex-shrink: 0;
}
.contact-us {
  	position: absolute;
  	top: 12.18px;
  	left: 36.76px;
  	line-height: 22.86px;
  	font-weight: 600;
}