.services {
  	width: 100%;
  	height: 3218px;
  	position: relative;
  	background-color: #fff;
  	text-align: center;
  	font-size: 28px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.servicespage {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1175.2px;
  	height: 3218.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 80.8px 0px 0px;
  	box-sizing: border-box;
}
.main-content {
  	align-self: stretch;
  	height: 2735px;
  	position: relative;
}
.featuressection {
  	position: absolute;
  	top: 369.6px;
  	left: 0px;
  	background-color: #fff;
  	width: 1175.2px;
  	height: 1431.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 100px 96px 0px;
  	box-sizing: border-box;
  	gap: 64px;
}
.container {
  	align-self: stretch;
  	height: 83.2px;
  	position: relative;
  	font-size: 14px;
  	color: #5e8c92;
  	font-family: Inter;
}
.text {
  	position: absolute;
  	top: -4px;
  	left: 431.91px;
  	border-radius: 26843500px;
  	background-color: rgba(94, 140, 146, 0.1);
  	width: 119.4px;
  	height: 32.8px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.our-services {
  	position: relative;
  	line-height: 21px;
  	font-weight: 600;
  	flex-shrink: 0;
}
.heading-2 {
  	position: absolute;
  	top: 40px;
  	left: 0px;
  	width: 983.2px;
  	height: 43.2px;
  	flex-shrink: 0;
  	font-size: 32px;
  	color: #1a1a1a;
  	font-family: MuseoModerno;
}
.expert-salesforce-solutions {
  	position: absolute;
  	top: 0px;
  	left: 279.64px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.container2 {
  	align-self: stretch;
  	height: 591px;
  	position: relative;
}
.heading-3 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 983.2px;
  	height: 42px;
}
.agentforce-revenue-management {
  	position: absolute;
  	top: -0.6px;
  	left: 257.36px;
  	line-height: 42px;
  	font-weight: 600;
}
.paragraph {
  	position: absolute;
  	top: 74px;
  	left: 107.6px;
  	width: 768px;
  	height: 25.6px;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.comprehensive-revenue-cloud {
  	position: absolute;
  	top: -0.8px;
  	left: 63.91px;
  	line-height: 25.6px;
}
.container3 {
  	position: absolute;
  	top: 131.6px;
  	left: 0px;
  	width: 983.2px;
  	height: 459.4px;
  	text-align: left;
  	font-size: 18px;
}
.container4 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 227.8px;
  	height: 459.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.container-icon {
  	width: 56px;
  	height: 56px;
  	border-radius: 24px;
}
.heading-4 {
  	width: 179.8px;
  	height: 54px;
  	position: relative;
}
.health-check {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
  	display: inline-block;
  	width: 130px;
}
.paragraph2 {
  	width: 179.8px;
  	flex: 1;
  	position: relative;
  	font-size: 14px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.a-detailed-assessment {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 22.4px;
  	display: inline-block;
  	width: 171px;
}
.container5 {
  	position: absolute;
  	top: 0px;
  	left: 251.8px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 227.8px;
  	height: 459.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.transformation-to-rcarcb {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
  	display: inline-block;
  	width: 158px;
}
.container6 {
  	position: absolute;
  	top: 0px;
  	left: 503.6px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 227.8px;
  	height: 459.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.heading-43 {
  	width: 179.8px;
  	height: 81px;
  	position: relative;
}
.revenue-cloud-advanced {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
  	display: inline-block;
  	width: 146px;
}
.build-sophisticated-capabiliti {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 22.4px;
  	display: inline-block;
  	width: 175px;
  	flex-shrink: 0;
}
.container7 {
  	position: absolute;
  	top: 0px;
  	left: 755.4px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 227.8px;
  	height: 459.4px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.implement-automated-billing {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 22.4px;
  	display: inline-block;
  	width: 157px;
}
.container8 {
  	align-self: stretch;
  	height: 429.6px;
  	position: relative;
}
.agentforce-ai-services {
  	position: absolute;
  	top: -0.6px;
  	left: 338.91px;
  	line-height: 42px;
  	font-weight: 600;
}
.empower-your-teams {
  	position: absolute;
  	top: -0.8px;
  	left: 103.83px;
  	line-height: 25.6px;
}
.container9 {
  	position: absolute;
  	top: 131.6px;
  	left: 0px;
  	width: 983.2px;
  	height: 298px;
  	text-align: left;
  	font-size: 18px;
}
.container10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 311.7px;
  	height: 298px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.heading-45 {
  	width: 263.7px;
  	height: 54px;
  	position: relative;
}
.agentforce-readiness {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
  	display: inline-block;
  	width: 208px;
}
.paragraph7 {
  	width: 263.7px;
  	flex: 1;
  	position: relative;
  	font-size: 14px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.review-your-current {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 22.4px;
  	display: inline-block;
  	width: 253px;
  	flex-shrink: 0;
}
.container11 {
  	position: absolute;
  	top: 0px;
  	left: 335.73px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 311.7px;
  	height: 298px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.deploy-smart-routing {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 22.4px;
  	display: inline-block;
  	width: 258px;
  	flex-shrink: 0;
}
.container12 {
  	position: absolute;
  	top: 0px;
  	left: 671.46px;
  	border-radius: 16px;
  	background-color: #f5f5f5;
  	width: 311.7px;
  	height: 298px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24px 0px 24px 24px;
  	box-sizing: border-box;
  	gap: 16px;
}
.heading-47 {
  	width: 263.7px;
  	height: 27px;
  	position: relative;
}
.agentforce-ai-optimisation {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 27px;
  	font-weight: 600;
}
.after-go-live-monitor {
  	position: absolute;
  	top: 0.4px;
  	left: 0px;
  	line-height: 22.4px;
  	display: inline-block;
  	width: 261px;
}
.processsection {
  	position: absolute;
  	top: 1801.4px;
  	left: 0px;
  	background-color: #ecf3f4;
  	width: 1175.2px;
  	height: 536.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 100px 96px 0px;
  	box-sizing: border-box;
  	gap: 64px;
  	font-size: 32px;
}
.container13 {
  	align-self: stretch;
  	height: 88px;
  	position: relative;
}
.heading-22 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 983.2px;
  	height: 43.2px;
}
.our-process {
  	position: absolute;
  	top: 0px;
  	left: 400.52px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph10 {
  	position: absolute;
  	top: 59.2px;
  	left: 155.6px;
  	width: 672px;
  	height: 28.8px;
  	font-size: 18px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.a-proven-methodology {
  	position: absolute;
  	top: 0.2px;
  	left: 153.3px;
  	line-height: 28.8px;
}
.container14 {
  	align-self: stretch;
  	height: 184.8px;
  	position: relative;
  	font-size: 48px;
  	color: #5e8c92;
}
.container15 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 221.8px;
  	height: 184.8px;
}
.container16 {
  	position: absolute;
  	top: 32px;
  	left: 221.8px;
  	background-color: rgba(94, 140, 146, 0.3);
  	width: 32px;
  	height: 2px;
  	flex-shrink: 0;
}
.container17 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 221.8px;
  	height: 184.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 16px;
  	flex-shrink: 0;
}
.container18 {
  	width: 53.7px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.b {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 48px;
}
.heading-33 {
  	width: 92.2px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.discovery {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 28px;
  	font-weight: 600;
}
.paragraph11 {
  	width: 221.8px;
  	flex: 1;
  	position: relative;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.we-analyze-your {
  	position: absolute;
  	top: -0.8px;
  	left: 11.9px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 198px;
}
.container19 {
  	position: absolute;
  	top: 0px;
  	left: 253.8px;
  	width: 221.8px;
  	height: 184.8px;
}
.container22 {
  	width: 58.6px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.heading-34 {
  	width: 85.2px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.develop-a-customized {
  	position: absolute;
  	top: -0.8px;
  	left: 3.71px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 215px;
}
.container23 {
  	position: absolute;
  	top: 0px;
  	left: 507.6px;
  	width: 221.8px;
  	height: 184.8px;
}
.container26 {
  	width: 58.8px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.heading-35 {
  	width: 161.1px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.deploy-the-solution {
  	position: absolute;
  	top: -0.8px;
  	left: 13.21px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 196px;
}
.container27 {
  	position: absolute;
  	top: 0px;
  	left: 761.4px;
  	width: 221.8px;
  	height: 184.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 16px;
}
.container28 {
  	width: 62.7px;
  	height: 48px;
  	position: relative;
  	opacity: 0.3;
}
.heading-36 {
  	width: 128.1px;
  	height: 28px;
  	position: relative;
  	font-size: 20px;
  	color: #1a1a1a;
}
.continuously-monitor-and {
  	position: absolute;
  	top: -0.8px;
  	left: 13.95px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 194px;
}
.ctasection {
  	position: absolute;
  	top: 2338.2px;
  	left: 0px;
  	background-color: #5e8c92;
  	width: 1175.2px;
  	height: 396.8px;
  	font-size: 18px;
  	color: #fff;
  	font-family: Inter;
}
.heading-23 {
  	position: absolute;
  	top: 80px;
  	left: 203.6px;
  	width: 768px;
  	height: 43.2px;
  	font-size: 32px;
  	font-family: MuseoModerno;
}
.ready-to-transform {
  	position: absolute;
  	top: 0px;
  	left: 111.45px;
  	line-height: 43.2px;
  	font-weight: 600;
}
.paragraph15 {
  	position: absolute;
  	top: 155.2px;
  	left: 251.6px;
  	width: 672px;
  	height: 57.6px;
  	color: rgba(255, 255, 255, 0.9);
}
.get-started-with {
  	position: absolute;
  	top: 0.2px;
  	left: 26.88px;
  	line-height: 28.8px;
  	display: inline-block;
  	width: 619px;
}
.button {
  	position: absolute;
  	top: 260.8px;
  	left: 475.39px;
  	border-radius: 16px;
  	background-color: #fff;
  	width: 224.4px;
  	height: 56px;
  	color: #5e8c92;
}
.get-started-now {
  	position: absolute;
  	top: 15.75px;
  	left: 40px;
  	line-height: 25.71px;
  	font-weight: 600;
}
.serviceshero {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	background: linear-gradient(180deg, #5e8c92, #3c6a70);
  	width: 1175.2px;
  	height: 369.6px;
  	overflow: hidden;
  	font-size: 14px;
  	color: #fff;
  	font-family: Inter;
}
.container29 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1175.2px;
  	height: 369.6px;
  	opacity: 0.1;
}
.container30 {
  	position: absolute;
  	top: 80px;
  	left: 711.2px;
  	filter: blur(128px);
  	border-radius: 26843500px;
  	background-color: #fff;
  	width: 384px;
  	height: 384px;
  	flex-shrink: 0;
}
.container31 {
  	position: absolute;
  	top: -30.4px;
  	left: 80px;
  	filter: blur(128px);
  	border-radius: 26843500px;
  	background-color: #e9c46a;
  	width: 320px;
  	height: 320px;
  	flex-shrink: 0;
}
.container32 {
  	position: absolute;
  	top: 140px;
  	left: 139.6px;
  	width: 896px;
  	height: 105.6px;
}
.text2 {
  	position: absolute;
  	top: -4px;
  	left: 382.21px;
  	border-radius: 26843500px;
  	background-color: rgba(255, 255, 255, 0.2);
  	width: 131.6px;
  	height: 32.8px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	flex-shrink: 0;
}
.heading-1 {
  	position: absolute;
  	top: 48px;
  	left: 0px;
  	width: 896px;
  	height: 57.6px;
  	flex-shrink: 0;
  	font-size: 48px;
  	font-family: MuseoModerno;
}
.expert-salesforce-solutions2 {
  	position: absolute;
  	top: -0.6px;
  	left: 127.14px;
  	line-height: 57.6px;
}
.footer {
  	align-self: stretch;
  	height: 402.6px;
  	position: relative;
  	background-color: #1a1a1a;
  	text-align: left;
  	font-size: 18px;
  	color: #fff;
}
.container33 {
  	position: absolute;
  	top: 64px;
  	left: 96px;
  	width: 983.2px;
  	height: 204.8px;
}
.container34 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.image-solviant-icon {
  	width: 89px;
  	height: 32px;
  	position: relative;
  	object-fit: cover;
}
.paragraph16 {
  	width: 295.7px;
  	height: 76.8px;
  	position: relative;
}
.transforming-business-operatio {
  	position: absolute;
  	top: -0.8px;
  	left: 0px;
  	line-height: 25.6px;
  	display: inline-block;
  	width: 260px;
}
.container35 {
  	width: 295.7px;
  	height: 48px;
  	display: flex;
  	align-items: flex-start;
  	padding: 8px 0px 0px;
  	box-sizing: border-box;
  	gap: 12px;
}
.link-icon {
  	height: 40px;
  	width: 40px;
  	border-radius: 16px;
}
.container36 {
  	position: absolute;
  	top: 0px;
  	left: 343.73px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.heading-48 {
  	align-self: stretch;
  	height: 27px;
  	position: relative;
}
.container37 {
  	align-self: stretch;
  	height: 96px;
  	position: relative;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.home {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
}
.link2 {
  	position: absolute;
  	top: 0px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link3 {
  	position: absolute;
  	top: 36px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.link4 {
  	position: absolute;
  	top: 36px;
  	left: 163.86px;
  	width: 131.9px;
  	height: 24px;
}
.link5 {
  	position: absolute;
  	top: 72px;
  	left: 0px;
  	width: 131.9px;
  	height: 24px;
}
.container38 {
  	position: absolute;
  	top: 0px;
  	left: 687.46px;
  	width: 295.7px;
  	height: 204.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.container39 {
  	align-self: stretch;
  	height: 64px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 16px;
  	font-size: 16px;
  	color: rgba(255, 255, 255, 0.7);
  	font-family: Inter;
}
.link6 {
  	width: 295.7px;
  	height: 24px;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.icon {
  	height: 20px;
  	width: 20px;
  	position: relative;
}
.text3 {
  	height: 24px;
  	width: 190.8px;
  	position: relative;
}
.link7 {
  	width: 295.7px;
  	flex: 1;
  	display: flex;
  	align-items: center;
  	gap: 12px;
}
.text4 {
  	height: 24px;
  	width: 145.9px;
  	position: relative;
}
.container40 {
  	position: absolute;
  	top: 332.8px;
  	left: 0px;
  	border-top: 0.8px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 69.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 24.8px 96px 0px;
  	font-size: 14px;
  	color: rgba(255, 255, 255, 0.5);
  	font-family: Inter;
}
.container41 {
  	align-self: stretch;
  	height: 21px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.paragraph17 {
  	height: 21px;
  	width: 239.4px;
  	position: relative;
}
.solviant-all-rights {
  	position: absolute;
  	top: -0.4px;
  	left: 0px;
  	line-height: 21px;
}
.container42 {
  	height: 21px;
  	width: 227.5px;
  	display: flex;
  	align-items: flex-start;
  	gap: 24px;
}
.link8 {
  	height: 21px;
  	width: 91.8px;
  	position: relative;
}
.link9 {
  	height: 21px;
  	width: 111.6px;
  	position: relative;
}
.navbar {
  	position: absolute;
  	top: 0.8px;
  	left: 0px;
  	background-color: #fff;
  	border-bottom: 0.8px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	width: 1175.2px;
  	height: 80.8px;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	padding: 0px 96px 0.8px;
  	text-align: left;
  	font-size: 16px;
  	color: #4a4a4a;
  	font-family: Inter;
}
.container43 {
  	align-self: stretch;
  	height: 80px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 20px;
}
.link-icon5 {
  	height: 40px;
  	width: 111px;
  	position: relative;
  	object-fit: cover;
}
.container44 {
  	height: 24px;
  	width: 393.5px;
  	position: relative;
}
.link10 {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 45px;
  	height: 24px;
}
.home2 {
  	position: absolute;
  	top: -0.6px;
  	left: 0px;
  	line-height: 24px;
  	font-weight: 500;
}
.link11 {
  	position: absolute;
  	top: 0px;
  	left: 77.05px;
  	width: 46.3px;
  	height: 24px;
}
.link12 {
  	position: absolute;
  	top: 0px;
  	left: 155.36px;
  	width: 66.2px;
  	height: 24px;
}
.link13 {
  	position: absolute;
  	top: 0px;
  	left: 253.59px;
  	width: 34px;
  	height: 24px;
}
.link14 {
  	position: absolute;
  	top: 0px;
  	left: 319.55px;
  	width: 74px;
  	height: 24px;
}
.link15 {
  	height: 19.2px;
  	width: 160px;
  	position: relative;
  	text-align: center;
  	color: #fff;
}
.button2 {
  	position: absolute;
  	top: -14.18px;
  	left: 0px;
  	border-radius: 24px;
  	background-color: #5e8c92;
  	width: 160px;
  	height: 48px;
  	flex-shrink: 0;
}
.contact-us {
  	position: absolute;
  	top: 12.18px;
  	left: 36.76px;
  	line-height: 22.86px;
  	font-weight: 600;
}